<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.basicairdata.graziano.gpslogger">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name=".GPSApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/gps_logger"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/LaunchScreenTheme">

        <receiver
            android:name=".SayHelloReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="SayHello"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".GPSActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_settings"
            android:launchMode="singleTask"
            android:theme="@style/MySettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GPSActivity" />
        </activity>

        <service
            android:name=".GPSService"
            android:exported="true">
            <intent-filter>
                <action android:name="eu.basicairdata.graziano.gpslogger.GPSService" />
            </intent-filter>
        </service>
    </application>

</manifest>